{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="overlay"></div>

<!-- This page provides a dynamic load of content modifiable -->
<!-- by sysadmin within the Django database structure-->
<!-- content is structured into sections, then seqenced text within each -->
<!-- e.g. About-text, FAQ, Blog etc-->
{% for topic in about_sections %}
  <div class="container-fluid mt-4 mb-4" id="{{topic.section}}">
  <h3>{{topic.section_title}}</h3>
  
      {% for texty in about_text %}
        <h5>{% if texty.section.section == topic.section %}{{texty.text_title}}{% endif %}</h5>
        <p>{% if texty.section.section == topic.section %}{{texty.text_body}}{% endif %}</p>
      {% endfor %}
   </div>       
{% endfor %}


<div class="container-fluid" id="Enquiry">
    <div class="container mt-5">
        <h1>Share Your Feedback</h1>
        <form id="contact-form">
          <div class="row">
              <div class="col-lg-6 col-md-6">
                  <label for="from_name">First name:</label>
                  <input type="text" name="from_name" id="from_name" class="form-control" required />
                  <br>
              </div>
              <div class="col-lg-6 col-md-6">
                  <label for="from_lname">Last name:</label>
                  <input type="text" name="from_lname" id="from_lname" class="form-control" required />
              </div>
          </div>
          <div class="row">
              <div class="col-lg-6 col-md-6">
                  <label for="from_email">Email:</label>
                  <input type="email" name="from_email" id="from_email" class="form-control" required />
              </div>
              <div class="col-lg-6 col-md-6">
                  <label for="file">Attachment:</label>
                  <br>
                  <input type="file" name="file" id="file" class="form-control"
                      accept=".pdf, .doc, .docx, .jpg, .jpeg, .png">

              </div>
          </div>
          <br>
          <label for="message">Message:</label>
          <textarea rows="5" name="message" id="message" class="form-control" required></textarea>
          <br>
          <div class="form-row text-center">
              <div class="col">
                  <input type="submit" class="submit-button" id="button">
              </div>
          </div>
      </form>
    </div> <!-- end div mt-5-->
</div> <!-- end div id "Enquiry"-->

<!-- DMcC 13/02/24 scroll-up button at end of page -->
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="scroll-arrow fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>	
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}

  <script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
  
  
  <script type="text/javascript">
    // CONTACT FORM - content below from emailjs:
    const btn = document.getElementById('button');

    document.getElementById('form')
    .addEventListener('submit', function(event) {
    event.preventDefault();

    btn.value = 'Sending...';

    const serviceID = 'default_service';
    const templateID = 'template_lqq1mif';

    emailjs.sendForm(serviceID, templateID, this)
      .then(() => {
        btn.value = 'Send Email';
        alert('Sent!');
      }, (err) => {
        btn.value = 'Send Email';
        alert(JSON.stringify(err));
      });
    });
  </script>

    <!-- JS to permit page upscroll to top of page -->
  <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
{% endblock %}