{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
{% if request.user.is_superuser %}
    <div class="overlay"></div>
    <div class="container-fluid" id="orders-container">
        <input type="button" class="btn btn-outline-black rounded-0" id="show-closed-orders" value = "Show Closed Orders" onclick="show_hide_closed()">
        <input type="button" class="btn btn-outline-black rounded-0" id="show-address" value = "Show Address" onclick="show_hide_address()">
        <input type="button" class="btn btn-outline-black rounded-0" id="show-details" value = "Show Details" onclick="show_hide_details()">

        <table class="table table-bordered table-hover" id="order-table">
            <thead class="table-secondary">
                <tr>
                <th></th>
                <th></th>
                <th>Order</th>
                <th>Status</th>
                <th>Ship?</th>
                <th>Trace</th>
                <th>PromisedShip</th>
                <th class="address hide-field">Fullname</th>
                <th class="address hide-field">Ph</th>
                <th class="address hide-field">Addr1</th>
                <th class="address hide-field">Addr3</th>
                <th class="address hide-field">Eircode</th>
                <th class="address hide-field">User</th>
                <th>CreatedOn</th>
                <th class="details hide-field">Details</th>
                </tr>
            </thead>
            <!-- Place one blank line at top of grid for Product Add-->
            {% for order in orders %}
                <!-- within each order, iterate through the line items -->

                {% for item in order.lineitems.all %}
                        
                <tr class="text-muted order-row {{order.order_status}}">
                    <td> 
                        {% if item.line_number == 10 %}
                            <a href="{% url 'order_history' order.order_number %}" title="View order"><i class="fa-solid fa-magnifying-glass icon-edit"></i></a>
                        {% endif %}
                    </td>
                    <td> 
                       {% if item.line_number == 10 %}
                        <!-- Pop up modal if shipping tracker# needed -->    
                           {% if order.order_status == "PACKED" and order.delivery_method == "REGPOST" %} 
                            <!-- Trigger the modal with a button -->
                                <button type="button" class="btn btn-info btn-sm update-button" data-toggle="modal" data-target="#update-status-popup" id="{{order.order_number}}">TRACK#
                                </button>
                            {% else %}    
                                <a type="button" href="{% url 'next_status' order.id %}" title="Update order status" class="btn btn-info btn-sm update-button"  id="{{order.order_number}}">
                                {% if order.order_status == "ORDERED" %} PACK 
                                {% elif order.order_status == "PACKED" %} {% if order.delivery_method == "COLLECT" %} RECEIVE {% else %} SHIP {% endif %} 
                                {% elif order.order_status == "SHIPPED" %} RECV 
                                {% elif order.order_status == "RECEIVED" %} CLOSE 
                                {% elif order.order_status == "CLOSED" %} CLOSED 
                                {% endif %} </a>
                            {% endif %}
                        {% endif %}
                    </td>
                            
                    <td><a class="text-info" href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}" target="_blank">{{ order.order_number|truncatechars:6 }}</a></td>
                    <td id="st{{order.order_status}} " class="text-info">{{order.order_status}}</td>
                    <!-- identify delivery mode with an id dm<order-number> -->
                    <td id="dm{{ order.order_number }}">{{order.delivery_method}}</td>
                    <td>{% if order.delivery_method == "REGPOST" and order.delivery_track > "" %}
                        <a href="https://www.anpost.com/Post-Parcels/Track/History?item={{order.delivery_track}}" title="Trace" target="_blank">
                            <i class="far fa-van icon-track"></i>{{order.delivery_track}}</a>
                        {% endif %}
                    </td>
                    <td {% if order.order_late %} class="date text-warning" 
                        {% else %} class="date" 
                        {% endif %}> 
                        {{order.planned_ship_date|date:"d/m/y"}}</td>
                    <td class="address hide-field">{{order.full_name}}</td>
                    <td class="address hide-field">{{order.phone_number}}</td>
                    <td class="address hide-field">{{order.street_address1}}</td>
                    <td class="address hide-field">{{order.town_or_city}}</td>
                    <td class="address hide-field">{{order.postcode}}</td>
                    <td class="address hide-field">{% if order.user_profile %}
                        {{order.user_profile}} 
                        {% else %}Guest  
                        {% endif %}</td>
                    <td class="date">{{order.date|date:"d/m/y"}}</td>
                    <td class="details hide-field">
                        Line{{item.line_number}}:  {{ item.product.name }} 
                        <strong>Qty</strong> {{item.quantity}} @ {{ item.price }} each
                        {% if item.category == 'ring' %}<strong>Size</strong> {{ item.product_size|upper }}{% endif %} 
                        {% if item.product.can_be_engraved %}<strong>Engraving: </strong>{{ item.engrave_text }}{% endif %}
                        
                    </td>
                </tr>
                <!-- DMcC 27/02/24 Add visibility of the ordered items -->
                
                <!-- DMcC 15/02/24:  Add a modal for order status update thank you Gemini -->
                <div id="update-status-popup" class="modal fade" tabindex="-1" aria-labelledby="updateStatusModalLabel" aria-hidden="true" >
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="updateStatusModalLabel">Update Order Status</h5>
                          <!--<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>-->
                          <button type="button" class="btn-close" data-toggle="modal" data-target="#update-status-popup">X</button> 
                        </div> <!-- end div class="modal-header"-->
                        <div class="modal-body">
                          <form id="update-status-form" >
                            <div class="mb-3">
                              <label for="order-num" class="form-label">Order:</label>
                              <input type="text" class="form-control" id="order-num" value = {{order_number}} readonly>
                            </div>
                            <div class="mb-3">
                              <label for="new-status" class="form-label">Next Status:</label>
                              <select class="form-select" id="new-status">
                                <option value="PACKED">Packed</option>
                                <option value="SHIPPED">Shipped</option>
                                <option value="RECEIVED">Received</option>
                                </select>
                            </div>
                            <div class="mb-3" class="hide-div">
                                <label for="delivery-track" class="form-label">Delivery Tracker:</label>
                                <input type="text" class="form-control" id="delivery-track">
                            </div>
                            <button type="submit" class="btn btn-primary">Update</button>
                            <a href="{% url 'next_status' 24075 %}" title="Move to next status "><i class="far fa-add icon-edit"></i></a>
 
                          </form> <!-- end form "update-status-form"-->
                        </div> <!-- end div class="modal-body"-->
                      </div> <!-- ed div class="modal-content" -->
                    </div> <!-- end div class="modal-dialog modal-dialog-centered" -->
                  </div> <!-- end div id="update-status-popup" -->
                {% endfor %}
            {% endfor %}
        </table>
    </div> <!-- end class container-fluid -->

    <!-- DMcC 13/02/24 scroll-up button at end of orders page -->
    <div class="btt-button shadow-sm rounded-0 border border-black">
        <a class="btt-link d-flex h-100">
            <i class="scroll-arrow fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>	
    </div>
{% endif %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- JS to permit page upscroll to top of page -->
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
    <!-- JS to prevent display of delivery-banner-->
    <script>    
        document.getElementById("delivery-banner").classList.add("hide-div");
    </script>

    <script>
        const elements = document.getElementsByClassName('CLOSED');
        for (let i=0; i < elements.length; i++) {
            elements[i].classList.add('hide-row');
        }
    </script>

    <script>
        function show_hide_closed() {
            const elements = document.getElementsByClassName('CLOSED');

            show_closed = document.getElementById("show-closed-orders");
            if (show_closed.value == "Show Closed Orders") {
                for (let i=0; i < elements.length; i++) {
                elements[i].classList.remove('hide-row');}
                show_closed.value="Hide Closed Orders";
                }  
            else 
                {
                for (let i=0; i < elements.length; i++) {
                elements[i].classList.add('hide-row');}
                show_closed.value="Show Closed Orders";
                }  
        }
    </script>

    <script>
        function show_hide_address() {
            const elements = document.getElementsByClassName('address');
            show_address = document.getElementById("show-address");
            if (show_address.value == "Show Address") {
                for (let i=0; i < elements.length; i++) {
                elements[i].classList.remove('hide-field');}
                show_address.value="Hide Address";
                }  
            else 
                {
                for (let i=0; i < elements.length; i++) {
                elements[i].classList.add('hide-field');}
                show_address.value="Show Address";
                }  
            }
    </script>
    
    <script>
        function show_hide_details() {
            const elements = document.getElementsByClassName('details');
            
            show_details = document.getElementById("show-details");
            if (show_details.value == "Show Details") {
                for (let i=0; i < elements.length; i++) {
                elements[i].classList.remove('hide-field');}
                show_details.value="Hide Details";
                }  
            else 
                {
                for (let i=0; i < elements.length; i++) {
                elements[i].classList.add('hide-field');}
                show_details.value="Show Details";
                }  
            }
    </script>

    
    
    <!-- DMcC 27/02/24 JS to identify which row was clicked for modal tracker# entry-->
    <script>
        const order_table = document.querySelector('#order-table')
        order_table.addEventListener('click', (event) => {
            // Check if the clicked element is an update-button
            if (event.target.classList.contains('update-button')) {
                const clickedButton = event.target;
                // identify which order the button was clicked for
                const clickedOrder = clickedButton.id;
                // alert('ClickedOrder is: ' + clickedOrder );
                const modalOrder2 = document.getElementById('order-num').value;
                document.getElementById('order-num').value = clickedOrder;
                const orderDM = ('dm'+clickedOrder)
                // alert('deliveryModeID is: ' + orderDM );
                const deliveryMode = document.getElementById(orderDM).innerHTML;
                //alert('deliveryMode is: ' + deliveryMode );
                }
            else {
                //alert('other button was pressed');
            }    
        });
    </script>

    <script>
        form.addEventListener('submit', function(ev) {
        ev.preventDefault();
        card.update({ 'disabled': true});
        $('#submit-button').attr('disabled', true);
        $('#payment-form').fadeToggle(100);
        $('#loading-overlay').fadeToggle(100);})
    </script>


    
    
{% endblock %}