/* Define variables (which will apply across multiple styles) */
:root {
    --border: 1px solid black !important;
    --color-background: beige;
    --color-banner-background: gray;   
    --color-red: #E84610;
    --color-button-foreground: white;
    --color-button-background: black; 
}

html {
    height: 100%;
}

body  
 {
    /* display: flex; DMcC removed 31/01/24 to align with walkthrough styling */
    background-color: var(--color-background);
   /* url('/media/homepage-background-cropped.jpg') no-repeat center center fixed; */
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
    filter: grayscale(0.7);
}

/* background::before DMcC retained 31/01/24 even though different to walkthrough styling */
.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    z-index:5;
}

.logo { /* DMcC retained 31/01/24 even though not aligned with walkthrough */
    max-width: 50px;
    max-height: 50px;
}

.logo-font {
    text-transform: bold;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: var(--color-button-background);
    color: var(color-button-foreground);
    min-width: 260px;
}

.btn-black {
    background: var(--color-button-background);
    color: var(--color-button-foreground);
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover, /* DMcC 31/01/24 added to align with walkthrough styling */
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}


.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fff !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}

/* Reduce image size for basket */
.image-basket {
    max-width: 30%;
    max-height: auto;
}



/* navbar styling */
#navbarText {
    justify-content: end;
    flex-grow: 0;
}

.navbar-image {
    display: inline-block;
    max-width: 150px;
    max-height: 50px;
    border-radius: 50%;
}

#delivery-banner {
    background-color: var(--color-banner-background);
}

/* ------------------------------- bootstrap toasts */
/* position message at top rhs of screen & assign high z-index: */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


/* ------------------------------- bootstrap toasts */

/* Toasts css:
/* Apply snippet from csstricks.com to pickup standard bootstrap message colours. */
/* https://css-tricks.com/snippets/css/css-triangle: */

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    
    border-bottom: 5px solid black;
  }
  
  .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    
    border-top: 20px solid #f00;
  }
  
  .arrow-right {
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    
    border-left: 60px solid green;
  }
  
  .arrow-left {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    
    border-right:10px solid blue; 
  }

  /* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}


/* DMcC 25/01/24:  Styling for allauth forms */

.btn-signup {
    background-color: #1c9797;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #1c9797;
}

.btn-edit {
    background-color: #1c9797;
    color: #fff;
}

.btn-delete {
    background-color: #E84610;
    color: #fff;
}

.icon-delete {
    color: red;
}

.icon-edit {
    color: blue;
}

.icon-copy {
    color: green;
}

.btn-cancel {
    background-color: gray;
    color: #fff;
}

.btn-like {
    color: var(--color-red);
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: var(--color-red);
    background: transparent;
    border: none;
}


/* footer */
footer {
    background-color: var(--color-background);
    display: flex;
    /* width: 100%;  DMcC hmm something strange with css the social icons now displaying and wrapping in a smallarea only */
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-top: var(--border);
}

.social-icon {
    max-height: 20px;
    margin: 1rem;
}




/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    /* DMcC 28/01/24 commenting out the below as am getting some whitespace on larger screens */
    /* DMcC 31/01/24 reinstated for testing - nope still huge whitespace */
 /*   .header-container { 
        padding-top: 164px;  
    } */ 
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}