{% load static %}

<div class="container-fluid">
    <!-- Footer -->
    <footer class="d-flex flex-md-row flex-column justify-content-center align-items-center py-3 mb-4 border-top">
      <div class="col-s-12 col-lg-3 text-center">
        <p><span class="mb-0 mb-md-0 text-muted"><a target="_blank" rel="noopener" 
          href="https://www.google.com/maps/dir//125-126+Sr%C3%A1id+Na+Tula%C3%AD,+Ceatharlach/@52.8362703,-7.0118538,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x485d5d5323dab939:0x716bde8f3faeffd3!2m2!1d-6.9294537!2d52.8362988?entry=ttu">
          Goldmark Jewellers (click for map)</a>
        </span></p>
        <p><span class="mb-0 mb-md-0 text-muted ">125 Tullow Street</span></p>
        <p><span class="mb-0 mb-md-0 text-muted">R93 EA89</span></p>
        <p><span class="mb-0 mb-md-0 text-muted">&copy; 2024 allskills.tech</span></p>
      </div>
      
       
      <!-- Social Media Links (col3 of footer)-->
      <div class="col-xs-12 col-lg-3 d-flex justify-content-center">
          <ul class="nav list-unstyled">
              <li>
                <a class="social-icon" href="https://www.facebook.com/profile.php?id=61556652324443" target="_blank" rel="noopener" aria-label="Facebook - Opens in a new tab"><i class="fa-brands fa-facebook" ></i></a>
              </li>
              <li>
                <a class="social-icon" href="https://www.instagram.com/jewellersgoldmark/?hl=en" target="_blank" rel="noopener" aria-label="Instagram - Opens in a new tab"><i class="fa-brands fa-square-instagram"></i></a>
              </li>
              <li>
                <a class="social-icon" href="https://www.youtube.com/user/goldmarkcarlow" target="_blank" rel="noopener" aria-label="YouTube - Opens in a new tab"><i class="fa-brands fa-square-youtube"></i></a>
              </li>
              <li>
                <a class="social-icon" href="https://www.linkedin.com/in/derek-goldmark-51943822/" target="_blank" rel="noopener" aria-label="LinkedIn - Opens in a new tab"><i class="fa-brands fa-linkedin"></i></a>
              </li>
              
        </ul>
      </div>

    </footer>
  </div>

  