<!-- this logic calculates the basket grand total and associates it with a list item for the navbar -->
<li class="list-inline-item basket-link">
    <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'view_basket' %}">
        <div class="text-center">
            <div><i class="fas fa-basket-shopping fa-lg"></i></div>
            <p class="my-0">
                {% if grand_total %}
                    €{{ grand_total|floatformat:2 }}
                {% else %}
                    €0.00
                {% endif %}
            </p>
        </div> <!-- end div class = text-center-->
    </a>
</li> <!-- end li class="list-inline-item basket-link" -->