<!-- nav-profile.html determines how the profile is displayed on the navigation menu, 
    which varies depending on whether the user is logged in/registered or not, 
    and whether the logged-in user is superuser -->

{% load static %}

{% if request.user.is_authenticated and request.user.is_superuser %}
<!-- settings dropdown menu (only visible to signed-in Admin users) -->
<li id="sysmaint-link" class = "list-inline-item dropdown">
    <a class="text-black nav-link" href="#" id="sysmaint-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <div class="text-center">
        <div><i class="fas fa-gear fa-lg"></i></div>
        <p class="my-0">SysMaint</p>
    </div>
    <div class="dropdown-menu border-0" aria-labelledby="user-options">
        <a href="" class="dropdown-item">Catalog-admin</a>
        <a href="" class="dropdown-item">Product-admin</a>
        <a href="" class="dropdown-item">Promotions-admin</a>
    </div>
</li>
{% endif %}
            
<li id="profile-link" class="list-inline-item dropdown">
{% if request.user.is_authenticated %}
<!-- signed in & user profile exists-->
            
    <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <!-- DMcC 28/01/24: replaced fa avatar with users chosen image.. hmm not working, reverted -->
        <!-- <div><img class="navbar-image" src="{% static request.user.userprofile.profile_image %}" >alt="My Avatar"></div>
            -->
        <div class="text-center">
            <!-- display profile image -->
            <span class="navbar-text text-muted "><img class="navbar-image" src="{{request.user.userprofile.profile_image.url}}" alt="Users avatar logo"></span>
            <p class="my-0">Welcome, {{ request.user }}!</p>    
        </div>
    </a>
            
    <div class="dropdown-menu border-0" aria-labelledby="user-options">
            <a href="/profile" class="dropdown-item">My Profile</a>
            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
    </div>
</li> <!-- end li profile-link -->
{% else %}
<!-- not signed in -->
<li id="profile-link" class="list-inline-item dropdown">
    <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-user fa-lg"></i></div>
            <p class="my-0">Profile</p>
        </div>
    </a>
    <div class="dropdown-menu border-0" aria-labelledby="user-options">
        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
    </div>
</li>    
{% endif %}