<!-- nav-logo.html shows the logo image and associated text for use on navbar (and possibly elsewhere onsite)-->
{% load static %}

<!-- logo display in navbar -->
<div id="logo" class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
    <a href="{% url 'home' %}" class="nav-link main-logo-link">
        <h2 class="logo-font text-black my-0">
            <img class="logo" src="{% static 'images/logo.png' %}" alt="Jeweller business logo" >
            <strong class="fst-italic">Goldmark</strong>Jewellers
        </h2>
    </a>
</div> <!-- end div logo -->
