<!-- nav-profile.html determines how the profile is displayed on the navigation menu, 
    which varies depending on whether the user is logged in/registered or not, 
    and whether the logged-in user is superuser -->

{% load static %}

{% if request.user.is_authenticated and request.user.is_superuser %}
<!-- settings dropdown menu (only visible to signed-in Admin users) -->
<li id="sysmaint-link" class = "list-inline-item dropdown">
    <a class="text-black nav-link" href="#" id="sysmaint-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <div class="text-center">
        <div><i class="fas fa-gear fa-lg"></i></div>
        <p class="my-0">SysMaint</p>
    </div>
    <div class="dropdown-menu border-0" aria-labelledby="user-options">
        <!-- <a href="" class="dropdown-item">Catalog-admin</a> -->
        <!--<a href="{% url 'add_product' %}" class="dropdown-item">Product-add</a>-->
        <a href="{% url 'maint_categories' %}"  class="dropdown-item">Categories-admin</a>
        <a href="{% url 'maint_products' %}"  class="dropdown-item">Products-admin</a>
        <a href="{% url 'maint_orders' %}" class="dropdown-item">Orders-admin</a>
        <!-- DMcC 15/02/24:  Temporarily hide these options as not yet functional -->
        <!-- <a href="{% url 'maint_users' }" class="dropdown-item">Users-admin</a>
        <a href="" class="dropdown-item">Promotions-admin</a> -->
    </div>
</li>
{% endif %}
            
<li id="profile-link" class="list-inline-item dropdown">
{% if request.user.is_authenticated %}
<!-- signed in & user profile exists-->
            
    <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <!-- display profile image -->
            <!-- DMcC the below changed 10/02/24 a thorwing an error whenn interpreted by AWS static -->
            <!-- <span class="navbar-text text-muted "><img class="navbar-image" src="{{request.user.userprofile.profile_image.url}}" alt="Users avatar logo"></span>-->
            <span class="navbar-text text-muted "><img class="navbar-image" src="{{ request.user.userprofile.profile_image.url }}" alt="Users avatar logo"></span>
            <p class="my-0">Welcome, {{ request.user }}!</p>    
        </div>
    </a>
            
    <div class="dropdown-menu border-0" aria-labelledby="user-options">       
            <a href="{% url 'profile_detail' request.user.userprofile.id %}" class="dropdown-item">My Profile</a>
            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
    </div>
</li> <!-- end li profile-link -->
{% else %}
<!-- not signed in -->
<li id="profile-link" class="list-inline-item dropdown">
    <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-user fa-lg"></i></div>
            <p class="my-0">Profile</p>
        </div>
    </a>
    <div class="dropdown-menu border-0" aria-labelledby="user-options">
        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
    </div>
</li>    
{% endif %}