<!-- main-nav.html is used to hold the sub-navigation bar above the index page -->
 <div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <!-- DMcC 31/01/24 the below tested and works OK, except tha the searches seem to be in descending order H->L rather than ascending?-->
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}?sort=created_on&direction=desc" class="dropdown-item ">By Date Added</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Type
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=ring" class="dropdown-item">Ring</a>
                <a href="{% url 'products' %}?category=pendant,pendant (set)" class="dropdown-item">Pendant</a>
                <a href="{% url 'products' %}?category=earrings,earrings (set)" class="dropdown-item">Earrings</a>
                <a href="{% url 'products' %}?category=watch (gents),watch (ladies)" class="dropdown-item">Watch</a>
                <a href="{% url 'products' %}?category=bangle" class="dropdown-item">Bangle</a>
                <a href="{% url 'products' %}?category=brooch" class="dropdown-item">Brooch</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Items</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="promotions-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <!-- FilterCat2 --> Promotions
            </a>
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="specials-link">
            <a href="" class="dropdown-item">Cat4Val1 e.g. New Arrivals</a>
            <a href="" class="dropdown-item">Cat4Val2 e.g. Deals</a>
            <a href="" class="dropdown-item">Cat4Val3 e.g. Clearance</a>
            <a href="" class="dropdown-item">Cat4Val4 e.g. All Specials</a>
        </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="stone-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="stone-link">
                <a href="{% url 'about' %}#About" class="dropdown-item">About Goldmark</a>
                <a href="{% url 'about' %}#FAQ" class="dropdown-item">FAQ</a>
                <a href="{% url 'about' %}#Enquiry" class="dropdown-item">Make an Enquiry</a>
            </div>
        </li>
    </ul>