{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
<div class="container text-center">

  <hr>
  <h2 class="logo-font mb-4">Goldmark - User {{ business_name }} {% trans "Sign Up" %}</h2>
  <hr>

  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

  <form class="form p-2" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <p> Note:  It's best not to use email as username, as username may be displayed publicly</p>
    <p> Password must be at least 8 characters, can’t be a common word or similar to username or email, and can't be all numbers   </p>

    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <a class="btn btn-outline-black rounded-0" href="{% url 'account_login' %}">Back to Login</a>
    <button type="submit" class="btn btn-signup right">{% trans "Sign Up" %}</button>
  </form>

</div> <!-- end div container text-center -->
{% endblock %}