{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
{% if request.user.is_superuser %}
    <div class="overlay"></div>
    <div class="container-fluid mb-4" id="products-container">
        <h3>Product Categories:</h3> 
        <input type="button" class="btn btn-outline-black rounded-0" id="show-hide-b1" value = "Show" onclick="show_hide1()">
        <div class="container-fluid hide-div" id="container1"> <!-- a show/hide container -->
            <table class="table table-bordered table-hover ">
                <thead class="table-secondary">
                    <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Nicename</th>
                    </tr>
                </thead>
                <!-- Place one blank line at top of grid for Product Add-->
                <tr class="text-muted">
                    <td><a href="/admin/products/category/add/" title="Maintain product types" target="_blank"><i class="far fa-add icon-edit"></i></a></td>
                    <td><a href="/admin/products/category/add" title="Add new category value" target="_blank">Add</a></td>
                    <td></td>
                    
                {% for cat in categories %}
                    <tr class="text-muted">
                        <td><a href="/admin/products/category/{{cat.id}}/change" title="Edit categories" target="_blank"><i class="far fa-edit icon-edit"></i></a></td>
                        <td>{{cat.name}}</td>
                        <td>{{cat.friendly_name}}</td>
                        
                        
                    </tr>
                {% endfor %}
            </table>
        </div> <!-- end id container1 (Categories table)-->

        <h3>Product Source - Lead Times:</h3> 
        <input type="button" class="btn btn-outline-black rounded-0" id="show-hide-b2" value = "Show" onclick="show_hide2()">
                                
        <div class="container-fluid hide-div" id="container2"> <!-- a show/hide container -->
            <table class="table table-bordered table-hover ">
                <thead class="table-secondary">
                    <tr>
                    <th></th>
                    <th>StockType/ Source</th>
                    <th>Default LeadTime (Days)</th>
                    </tr>
                </thead>

                <!-- Place one blank line at top of grid for Product Add-->
                <tr class="text-muted">
                    <td><a href="/admin/products/stocktype/" title="Maintain stock types" target="_blank"><i class="far fa-add icon-edit"></i></a></td>
                    <td><a href="/admin/products/atocktype/add" title="Add new stocktype" target="_blank">Add</a></td>
                    <td></td>
                    
                {% for stock_type in stock_types %}
                    <tr class="text-muted">
                        <td><a href="/admin/products/stocktype/{{stock_type.id}}/change" title="Edit categories" target="_blank"><i class="far fa-edit icon-edit"></i></a></td>
                        <td>{{stock_type.source}}</td>
                        <td>{{stock_type.default_lead_time}}</td>
                        
                    </tr>
                {% endfor %}
            </table>
        </div> <!-- end id container2 (Sources table) -->
    
        <h3>Product Source & Lead Times:</h3> 
        <input type="button" class="btn btn-outline-black rounded-0" id="show-hide-b3" value = "Show" onclick="show_hide3()">
                                
        <div class="container-fluid hide-div" id="container3"> <!-- a show/hide container -->
            <table class="table table-bordered table-hover ">
                <thead class="table-secondary">
                    <tr>
                    <th></th>
                    <th>Source</th>
                    <th>Source</th>
                    <th>Default LeadTime (Days)</th>
                    </tr>
                </thead>

                <!-- Place one blank line at top of grid for Product Add-->
                <tr class="text-muted">
                    <td><a href="/admin/products/stocktype/add/" title="Maintain product types" target="_blank"><i class="far fa-add icon-edit"></i></a></td>
                    <td><a href="/admin/products/cat6/add" title="Add new category value" target="_blank">Add</a></td>
                    <td></td>
                    
                {% for source in sources %}
                    <tr class="text-muted">
                        <td><a href="/admin/products/cat6/{{source.id}}/change" title="Edit categories" target="_blank"><i class="far fa-edit icon-edit"></i></a></td>
                        <td>{{source.cat6_value}}</td>
                        <td>{{source.stock_type}}</td>
                        <td>{{source.default_lead_time}}</td>
                        
                    </tr>
                {% endfor %}
            </table>
        </div> <!-- end id container3 (Sources table) -->
    </div> <!-- end class container-fluid -->

    <!-- DMcC 13/02/24 scroll-up button at end of table maintenance -->
    <div class="btt-button shadow-sm rounded-0 border border-black">
        <a class="btt-link d-flex h-100">
            <i class="scroll-arrow fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>	
    </div>
{% endif %}
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- JS to permit page upscroll to top of page -->
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
    <script type="text/javascript">
        function show_hide1() {
        show_button1 = document.getElementById("show-hide-b1");
        if (show_button1.value == "Show") {
            document.getElementById("container1").classList.remove("hide-div");
            show_button1.value="Hide";
            }  
        else 
            {
            document.getElementById("container1").classList.add("hide-div");
            show_button1.value="Show";
            }  
        }
        function show_hide2() {
        show_button2 = document.getElementById("show-hide-b2");
        if (show_button2.value == "Show") {
            document.getElementById("container2").classList.remove("hide-div");
            show_button2.value="Hide";
            }  
        else 
            {
            document.getElementById("container2").classList.add("hide-div");
            show_button2.value="Show";
            }  
        }
        function show_hide3() {
        show_button3 = document.getElementById("show-hide-b3");
        if (show_button3.value == "Show") {
            document.getElementById("container3").classList.remove("hide-div");
            show_button3.value="Hide";
            }  
        else 
            {
            document.getElementById("container3").classList.add("hide-div");
            show_button2.value="Show";
            }  
        }
        <!-- JS to prevent display of delivery-banner-->
    </script>
    <!-- JS to prevent display of delivery-banner-->
    <script>    
        document.getElementById("delivery-banner").classList.add("hide-div");
   </script>
{% endblock %}